body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background-color: #D6FFF6;
  color: white;
}

.header {
  height: 400px;
  background-color: #231651;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #383838;
}

.header-button {
  padding: 10px;
  font-size: 16px;
  background-color: #FF8484;
  border: none;
}

.normal-button {
  padding: 10px;
  font-size: 16px;
  background-color: #4DCCBD;
  border: none;
}